<!doctype html>
<html>
  <head>
    <title><%- Title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="./navbar/index.js"></script>
    
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>

    <link rel="stylesheet" href="./navbar/index.css">
  </head>
  <body>
    <nav>
      <a href="#" class="Brand-Name"><%- Title %></a>
      <button id="hamburger" class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <ul class="headerList">
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Teams</a></li>
        <li><a href="#">Discord</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
    <section></section>
  </body>
</html>
