<!doctype html>
<html>
  <head>
    <title><%- Title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./navbar/index.css">
  </head>
  <body>
    <nav>
      <a href="#" class="Brand-Name"><%- Title %></a>
      <div class="humberger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Teams</a></li>
        <li><a href="#">Discord</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
    <section></section>
  </body>
</html>
