<!doctype html>
<html>
  <head>
    <title><%- Title %> • Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Hello</h1>
  </body>
</html>
