@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400,500,600,700&display=swap');
  * {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  body {
    height:150vh;
    background-color: #191c25;
  }
  nav.NewStyleNavbar {
    background-color: #5865F2;
    padding: 25px 30px;
    position: fixed;
  }
  nav {
    font-family: "Poppins", sans-serif;
    /*position: fixed;*/
    top: 0;
    background-color: #191c25;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.6s ease;
    align-items: center;
    padding: 25px 30px;
  }
  nav .Brand-Name {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    transition: 0.6s ease;
  }
  nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    position: relative;
    list-style: none;
  }
  nav ul li a.active,
  nav ul li a:hover {
    color: white;
  }
  nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgba(225, 225, 225, 0.6);
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.4s;
  }
  .hamburger {
    display: none;
  }
  @media (max-width: 760px) {
    .hamburger {
      border: none;
      background: none;
      outline: none;
      display:block;
    }
    .hamburger.on .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.on .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.on .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    nav, nav.NewStyleNavbar {
      padding: 20px 20px;
    }
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 7px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #fff;
    }
    nav ul {
      position: absolute;
      background-color: #191c25;
      
      flex-direction: column;
      width: 100%;
      top: -500%;
      /*top: 68px;*/
      left: 0;
     /* padding-left: 5px;*/
      transition: 0.7s ease;
    }
    nav ul.on {
      top: 68px;
    }
    nav ul li {
      /*margin-bottom: 20px;
      /*padding: 5px;*/
      width: 100%;
      display: inline-block !important;
      /*font-size: 18px;*/
    }
    nav ul li a {
      display: inline-block;
      padding: 10px;
      font-size: 15px;
      width: 90%;
      margin-bottom: 20px;
    }
    nav.NewStyleNavbar ul {
      background-color: #5865F2;
      box-shadow: 1px 7px 10px rgba(0,0,0,0.4);
    }
  }
