@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.9s ease;
  align-items: center;
  padding: 40px 100px;
}
nav .Brand-Name {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  transform: 0.6s ease;
}
nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  position: relative;
  list-style: none;
}
nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.4s;
}
